@model int

@{
    ViewBag.Title = "Calculator result";
}

<h2>Calculator result</h2>
<div>
    Calculation result is: @Model
</div>
@Html.ActionLink("Repeat", "Index", new { }, new { @class = "btn btn-primary" })