@model Calculators.Engine.MathematicModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <img src="~/images/logo.jpg" />
    </div>
    <div class="col-md-4">
        <h2>Let me see...</h2>
        @using (Html.BeginForm("Calculate", "Home"))
        {
            <div class="my-1">@Html.EditorFor(m => m.First)</div>
            <div class="my-1">
                <select id="operation" name="operation">
                    <option value="add">+</option>
                </select>
            </div>
            <div class="my-1">@Html.EditorFor(m => m.Second)</div>
            <input type="submit" value="Calculate" id="btnCalculate" class="btn btn-primary" />
        }

    </div>
    <div id="operationPreview"></div>
</div>

<script src="~/js/ShowPreview.js"></script>
